@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansMedium";
}

.background {
  background-color: #c0e7ee;
}

.container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.teamIntroduction {
  background-size: 15px 15px;
  background-color: white;
  background-image: linear-gradient(to right, #e9e9e9 1px, transparent 1px),
    linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);
  padding: 18px;
  padding-left: 34px;
  padding-right: 34px;
  margin: 50px;
  height: 375px;
  width: 375px;
  transform: rotate(-5deg);
  border: 1px solid #e9e9e9;
  box-shadow: -3px 3px rgb(187, 187, 187);
}

.teamMembersPicture {
  background-size: 15px 15px;
  background-color: white;
  background-image: linear-gradient(to right, #e9e9e9 1px, transparent 1px),
    linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);
  margin: 50px;
  height: 375px;
  width: 375px;
  transform: rotate(3deg);
  border: 1px solid #e9e9e9;
  box-shadow: -3px 3px rgb(187, 187, 187);
}

.enterGuestbook {
  background-size: 15px 15px;
  background-color: white;
  background-image: linear-gradient(to right, #e9e9e9 1px, transparent 1px),
    linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);
  padding: 18px;
  margin: 50px;
  height: 360px;
  width: 360px;
  transform: rotate(4deg);
  border: 1px solid #e9e9e9;
  box-shadow: -3px 3px rgb(187, 187, 187);
}

.printGuestbook {
  background-size: 15px 15px;
  background-color: white;
  background-image: linear-gradient(to right, #e9e9e9 1px, transparent 1px),
    linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);
  padding: 18px;
  margin: 50px;
  height: 380px;
  width: 360px;
  transform: rotate(-4deg);
  border: 1px solid #e9e9e9;
  box-shadow: -3px 3px rgb(187, 187, 187);
}

.tape {
  background-color: #cf9692;
  opacity: 0.4;
  position: absolute;
  order: 2;
  left: 32%;
  top: -30px;
  width: 130px;
  height: 45px;
}

#tapeTeamIntro {
  transform: rotate(2deg);
}

#tapeTeamPic {
  transform: rotate(-4deg);
}

#tapeEntGuestbook {
  transform: rotate(4deg);
}

#tapePrintGuestbook {
  transform: rotate(-3deg);
  margin-top: 29%;
  margin-left: 31.5%;
  position: absolute;
  transform: rotate(-3deg);
  z-index: 2;
}

.teamIntroDetail {
  font-weight: bold;
}

#teamIntroRule {
  font-weight: bold;
  color: red;
  margin-top: 8px;
  margin-bottom: 5px;
}

.inputGuestbook {
  background-color: rgb(206, 206, 206);
}

.picContainer {
  margin: 10px;
  margin-left: 17px;
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
}

.profilePic {
  width: 150px;
  height: auto;
  position: relative;
  z-index: 1;
}

.membersName {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  padding: 0 3px;
}

.MembersPicture {
  padding: 5px;
  display: flex;
}

.picContainer button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.clickThat {
  margin-top: -5px;
  margin-left: 50px;
}
