
.background {
  background-color: #C0E7EE;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.teamIntroduction {
  margin: 30px;
  background-size: 15px 15px;
  background-color: white;
  background-image:
      linear-gradient(to right, #e9e9e9 1px, transparent 1px),
      linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);

  height: 400px;
  width: 400px;
  transform: rotate(-5deg);
  border: 1px solid #e9e9e9;
  box-shadow: -3px 3px rgb(187, 187, 187);
}
.teamMembersPicture {
  margin: 30px;
  background-size: 15px 15px;
  background-color: white;
  background-image:
      linear-gradient(to right, #e9e9e9 1px, transparent 1px),
      linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);

  height: 400px;
  width: 400px;
  transform: rotate(3deg);
  border: 1px solid #e9e9e9;
  box-shadow: -3px 3px rgb(187, 187, 187);
}
.enterGuestbook {
  margin: 30px;
  background-size: 15px 15px;
  background-color: white;
  background-image:
      linear-gradient(to right, #e9e9e9 1px, transparent 1px),
      linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);

  height: 380px;
  width: 380px;
  transform: rotate(4deg);
  border: 1px solid #e9e9e9;
  box-shadow: -3px 3px rgb(187, 187, 187);
}
.printGuestbook {
  margin: 30px;
  background-size: 15px 15px;
  background-color: white;
  background-image:
      linear-gradient(to right, #e9e9e9 1px, transparent 1px),
      linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);

  height: 380px;
  width: 360px;
  transform: rotate(-4deg);
  border: 1px solid #e9e9e9;
  box-shadow: -3px 3px rgb(187, 187, 187);
}
#teamIntroductionTitle {
  font-weight: bolder;
}
.picContainer {
  height: 120px;
  width: 120px;
  overflow: hidden;
}
#sieunPic {
  max-height: auto;
  max-width: 120px;
  margin-top: -35%;
}
.inputGuestbook {
  background-color: rgb(206, 206, 206);
}